<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Panel | PlugNPlay</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="static/image/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    &nbsp;<i class="fa-solid fa-headphones"></i>
                    &nbsp;PlugNPlay
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/admin-panel">Dashboard</a></li>
                <li><a href="/admin-panel#videos">Videos</a></li>
                <li><a href="/admin-panel#users">Users</a></li>
            </ul>
        </div>
    </nav>

    {% if msg %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ msg }}
    </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/admin-panel/upload-video">Upload Video</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-md-10 main">
                <h1>Dashboard</h1>
                <p>Welcome to the admin panel for PlugNPlay.</p>

                <h2>Upload videos</h2>
                <div class="container" style="margin-bottom: 5rem;">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" placeholder="Enter video title" required
                                        name="title" />
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter video description"
                                        required name="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="video">Select Video</label>
                                    <input type="file" class="form-control-file" name="content" required>
                                </div>
                                <button class="btn" style="background-color: rgb(37 39 42); color: white;">
                                    Upload
                                </button>
                                &nbsp;&nbsp;&nbsp;
                                <a href="/admin-panel" class="btn"
                                    style="background-color: rgb(37 39 42); color: white;">
                                    Cancel
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<style>
    .alert {
        padding: 20px;
        background-color: rgb(37 39 42);
        color: white;
        margin-bottom: 15px;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
</style>

</html>